* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#header{
  padding: 2em;
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-image: url(../images/backgrounds/landing.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

#header>h1{
  line-height: 1.4;
  margin-top: 1.4em;
  color: #fff;
  font-weight: 100;
  
}

#header strong{
  font-weight: 700;
  opacity: 1;
  
}

#top-menu{
  display: flex;
  justify-content: space-between;
  width: 100%;

}
#top-menu h1{
  font-weight: 400;
  z-index: 2;
}
#top-menu table, .food-top{
  width: 100%;
  height: 280px;
  text-align: center;
  

}

.food-top{
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;

}

#breakfast{
  background-image: url(../images/foodtop/breakfast.jpg);
}


#lunch{
  
  background-image: url(../images/foodtop/lunch.jpg);
}
#lunch-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .5);
  

}

#overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
}

#dinner{
  background-image: url(../images/foodtop/dinner.jpg);
}

#top-menu table{
  border-spacing: 0px;
}

#top-menu tr:first-child{
  color: #222;
  background-color: #ccc;
}

#top-menu tr:last-child{
  background-color: #f15a29;
  color: #fff;
}
#fast-food{
  display:flex;
  flex-direction: none;
  justify-content: center;
  margin-top: 0px;
  margin-left: 6em;
  margin-bottom: 4em;
  align-items: center;
  font-family: sans-serif;
  font-weight: 450;
}
 #fast-food table {
   padding: 1em;
  box-shadow: 4px 4px 8px #ccc, -4px -4px 8px #ccc;
}
#FF {
  margin: left;
  margin: 50px;
  padding-bottom: 0px;
}
#drinks{
  display: flex;
  text-align: center:

}
#drinks table{
padding: 17px;
box-shadow: 4px 4px 8px #ccc ,-4px -4px 8px #ccc;
}
#dff{
  margin: 4em auto ;
  width: 72%;

}
#DD {
text-align: right;
margin-right: 5em;
}
#FF ,#DD {
  max-width: 30%;
  line-height: 1.5;
  font-family: sans-serif;
  font-weight: 450;
  font-size: 15px;
}
.ff {
  background-color: #fff;
}
#burger {
  padding: 3em;
  width: 100%;
  height: auto;
  background-image: url("../images/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom-menu {
  background-color: #fff;
  color: #000;
  font-size: 1.6em;
   width: 70%;
  margin: 2em auto;
}

.bottom-menu tr:first-child{
    background-color: #ddd;
    height: 70px;
    width: 100%;
}
#row {
margin-bottom: 2em;
padding-top: 1.1em;
}
/* .customers {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 2em auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 3px 3px 5px #ddd, -3px -3px 5px #ddd;
  margin-top: 70px;
  margin-bottom: 40px;
} */
#CC {
  text-align: center;
  max-width: 40%;
  padding: 10px;
  line-height: 1.4;
}

#CC h3{
  color: #f15a29;
/* }
#happy{
  display: flex;
  text-align: center;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
#happy::after{
  content: '';
  width: 2px;
  height: 80%;
  background-color: #ddd;
  position: absolute;
  right: 0;
}
#happy h4{
  color: #f15a29;
  margin-bottom: .8em;
}

#happy h5{
  margin-bottom: .5em;
}

#happy p{
  margin-bottom: .8em;
}

#happy tr td{
  padding-right: 1em;
  
} */
